<html>
<style>

	body {
        background-image: url("{{ url_for('static', filename='scottdance.gif')}}");
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

</style>
    <body>
	<l>
        <ol>
	
	{%for i in range(0, len)%}
	
	<p><a href="{{ url_link[i]  }}" class="button">{{ track_name[i] }}</a></p>

	{%endfor%}

	</ol>
	</l>
    </body>
</html>

