<html>
<style>
body {
	background-image: url("{{ url_for('static', filename='spotify-logo-computer-wallpaper-62369-64312-hd-wallpapers.jpg')}}");
}
e{
 	 font-family: "Comic Sans MS",cursive, sans-serif;
 	 font-size: 20px;
 	 text-align: center;
}

</style>
<body>
<e>
<form action="/show_list" method="post">
  motcle1:<br>
  <input type="text" name="keyword1">
  <br>
  motcle2:<br>
  <input type="text" name="keyword2">
  <br>
  motcle3:<br>
  <input type="text" name="keyword3">
  <br><br>
  <input type="submit" value="GO!">
</form></e>
    </body>
</html>
